<!--BOOTSTRAP-->
	
<div class="card">
	<div class="card-body">
		<!--NAVBAR-->
		<header class="">
			<nav class="navbar navbar-dark bg-dark fixed-top opacity-75">
				<div class="container-fluid">
				
					<a class="navbar-brand" href="#">Professora Pollyanna Barros</a>
					
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
					
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Profa Polly Mentora</h5>
							<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						
						<div class="offcanvas-body">
						
							<div class="btn-group-vertical btn-outline-dark" role="group" aria-label="Vertical button group">
							  <button type="button" class="btn btn-dark" url="#">Para Estudantes</button>
							  <button type="button" class="btn btn-dark">Primeira Mentoria Gratuita</button>
							  <!--button type="button" class="btn btn-dark">Button</button>
							  <button type="button" class="btn btn-dark">Button</button-->
							</div>
						
						</div>
					</div>
				</div>
			</nav>
		</header>
		<!--NAVBAR--> 
		
		<!--app-header></app-header-->

		<!--BLOG-->
		<div class="container">
			<div class="row p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
			
				<div class="col-auto col-lg-6 px-0">
					<h1 class="display-4 fst-italic">Mentora acadêmica.</h1>

					<app-tasks></app-tasks>

						<div class="d-none">
							<p class="lead my-3">Graduada em Letras e Pedagogia. </p>
							<p class="lead my-3">Mestra em Estudos da Linguagem.</p>
							<p class="lead my-3">Doutoranda em L.A. </p>
							<p class="lead my-3"></p>
							<p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold d-none">Continue lendo...</a></p>
						</div>
				</div>
				 
				<div class="col col-lg-4 px-0 align-end offset-sm-0 offset-md-2">
					<picture>
						<source srcset="thumbnail-pollyanna.jpeg" type="image/svg+xml" />
						<img src="thumbnail-pollyanna.jpeg" class="img-fluid img-thumbnail" alt="imagem-perfil-Profa-Pollyanna" />
					</picture>
				</div>
				
			</div>
		</div>
		<!---->
		
		
		
		
		
		<!---->		
		<!-- Marketing messaging and featurettes
	  ================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">
			<!--[style.color]="colorText"-->

			<!-- Three columns of text below the carousel -->
			<div class="row d-none d-sm-block d-md-none">
				<div class="col-lg-4">
					<!--
			<svg class="bd-placeholder-img rounded-circle d-none" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
			-->
					<!--img class="card-img bd-placeholder-img rounded-circle d-none" width="140" src="estudarsemestudar.png" /-->

					<h2>Como Estudar Sem Estudar</h2>
					<p>
						Assista filmes e séries, reoganize seu cronograma, Leia ou releia um capitulo de seu livro favorito!, Escreva algo sobre você!, Leia as notícias do dia!, converse com alguém sore o que estudou na semana...
					</p>
					<p><a class="btn btn-secondary" href="#">Continua... &raquo;</a></p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<!--img class="card-img bd-placeholder-img rounded-circle d-none" width="140" src="3maneiras.png" /-->
					<h2>3 Maneiras</h2>
					<p class="text-color">
						O Google agenda é uma ferramenta simples e gratuita. Listar sua rotina e salvar no Google agenda vai ser o empurrão que você precisa para ficar cada vez mais próximo de suas atividades...
					</p>
					<p><a class="btn btn-secondary" href="#">Continua... &raquo;</a></p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<!--img class="card-img bd-placeholder-img rounded-circle d-none" width="140" src="quatrovitorias.png" /-->
					<h2>4 Vitórias Diárias</h2>
					<p>
						Se inscreveu no concurso, sonha com a estabilidade financeira, mas não sabe como começar sua rotina de estudos? Siga o passo a passo das quatro vitórias diárias e suba mais um degrau rumo ao seu sucesso!..
					</p>
					<p><a class="btn btn-secondary" href="#">Continua... &raquo;</a></p>
				</div>
				<!-- /.col-lg-4 -->
			</div>
			<!-- /.row -->
			
			
			<!-- START THE FEATURETTES -->

			<div class="d-sm-none d-md-block">
				<hr class="featurette-divider" />
				<div class="row featurette text-justify">
					<div class="col-md-7">
						<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
						<p class="lead">Transforme seu potencial em resultados com a mentoria certa.</p>
					</div>
					<div class="col-md-5">
						<svg
							class="bd-placeholder-img bd-placeholder-img-lg featurette-image card-img mx-auto"
							width="500"
							height="500"
							xmlns="http://www.w3.org/2000/svg"
							role="img"
							aria-label="Placeholder: 500x500"
							preserveAspectRatio="xMidYMid slice"
							focusable="false"
						>
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#eee" />
							<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
						</svg>
					</div>
				</div>

				<hr class="featurette-divider" />

				<div class="row featurette text-justify">
					<div class="col-md-7 order-md-2">
						<h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
						<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
					</div>
					<div class="col-md-5 order-md-1">
						<svg
							class="bd-placeholder-img bd-placeholder-img-lg featurette-image card-img mx-auto"
							width="500"
							height="500"
							xmlns="http://www.w3.org/2000/svg"
							role="img"
							aria-label="Placeholder: 500x500"
							preserveAspectRatio="xMidYMid slice"
							focusable="false"
						>
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#eee" />
							<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
						</svg>
					</div>
				</div>

				<hr class="featurette-divider" />

				<div class="row featurette text-justify">
					<div class="col-md-7">
						<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
						<p class="lead">
							And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your
							content.
						</p>
					</div>
					<div class="col-md-5">
						<svg
							class="bd-placeholder-img bd-placeholder-img-lg featurette-image card-img mx-auto"
							width="500"
							height="500"
							xmlns="http://www.w3.org/2000/svg"
							role="img"
							aria-label="Placeholder: 500x500"
							preserveAspectRatio="xMidYMid slice"
							focusable="false"
						>
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#eee" />
							<text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
						</svg>
					</div>
				</div>

				<hr class="featurette-divider" />

				
				
				<!--FEED--> 
				<div class="elfsight-app-86eadadf-4213-486b-b6df-7e69fd99a98c px-2 mx-auto" data-elfsight-app-lazy></div>
				<hr class="featurette-divider" />
			<!--FEED-->
				<!-- /END THE FEATURETTES -->
			</div>
			<!-- /.container -->
		</div>
		<!-- mdToUp -->

		<!-- FOOTER -->
		<footer class="container">
			<p class="float-end"><a href="#">Voltar ao Topo</a></p>
			<p>
				&copy; 2024 Todos direitos reservados. &middot;
				<!--a href="#">Privacy</a> &middot; <a href="#">Terms</a-->
			</p>
		</footer>
	</div>
</div>
